

.log-out-btn {
    background-color: #0b5ed7;
    border: 5px;
    color: #0f5132;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.log-out-btn:hover {
    background-color: #0a53be;
    color: white;
    border: 2px solid #4CAF50;
}
