.util-btn {
    background-color: #0b5ed7;
    border: 5px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    position: relative;
    height: 60px;
    width: 130px;
    border-radius: 10px;
}

.util-btn:hover {
    background-color: #0a53be;
    color: white;
    border: 2px solid #4CAF50;
}
